# HxTermux
alias hx='hxtermux --customize'
alias hxrestore='hxtermux --restore'
alias fetch='hypexfetch'

# Navigation and terminal
alias q='exit'
alias c='clear'
alias sd='cd /sdcard'
alias pf='cd "$PREFIX"'
alias preview="fzf --preview='bat --color=always --style=numbers --theme OneHalfDark {}' --preview-window=down"
alias ls='eza --icons'
alias la='eza --icons -lgha --group-directories-first'
alias lt='eza --icons --tree'
alias lta='eza --icons --tree -lgha'
alias bat='bat --theme OneHalfDark'
alias cat='bat --theme OneHalfDark -p'

# Packages and network
alias pacupd='pkg update'
alias pacupg='pkg upgrade'
alias pacupgupd='pkg update && pkg upgrade'
alias pg='ping google.com'

# Termux utilities
alias reload='termux-reload-settings'
alias termconf='nvim ~/.termux/termux.properties'
alias termper='termux-setup-storage'
alias scan='termux-media-scan'
alias open='termux-open'
alias ss='cd /sdcard/Pictures/Screenshots'
alias ms='cd /sdcard/Movies'
alias dl='cd /sdcard/Download'
alias ds='cd /sdcard/Documents'
alias archives='cd /data/data/com.termux/cache/apt/archives'

# Networking
alias myip='bash ~/.scripts/system/ip.sh simcard'
alias myipwifi='bash ~/.scripts/system/ip.sh wifi'
alias myiphotspot='~/.scripts/system/ip.sh hotspot'
alias myipvpn='~/.scripts/system/ip.sh vpn'
alias myipall='~/.scripts/system/ip.sh all'

# Configuration
alias aliasconf='nvim ~/.aliases'
alias zshconf='nvim ~/.zshrc'
alias nviminit='nvim ~/.config/nvim/init.lua'
alias nvimtheme='nvim ~/.config/nvim/lua/chadrc.lua'
alias gitgraph='git log --all --decorate --oneline --graph'
alias gitupdate='git fetch && git pull'
alias gitstat='git status'
alias prot='cd "$PREFIX/var/lib/proot-distro"'
alias protlogin='proot-distro login'
alias refresh='source ~/.zshrc'
alias unsource='exec "$SHELL" -l'
